@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "Qurova";
  src: url("/fonts/qurova/QurovaDEMO-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mona Sans";
  src: url("/fonts/MonaSans/fonnts.com-Mona-Sans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html,body{
    font-family: "Mona Sans", sans-serif;
}

.hero-heading{
    font-family: "Qurova", sans-serif;
}

/* Scrollbar */

.chat-scroll::-webkit-scrollbar {
  width: 8px;
}

.chat-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.chat-scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 999px;
}

.chat-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.45);
}

/* Firefox */
.chat-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.35) transparent;
}
